# Astro output
dist/
astro-test/

# Dependencies
node_modules/

# Astro temporary files
.astro/
.vscode/

# Build logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS metadata
.DS_Store
Thumbs.db
